<h3>Hello {{name}}</h3>

<p>Here are your recorded weight measurements</p>
<div class="fixed-action-btn">
    <a href="/weight/add" class="btn-floating btn-large waves-effect waves-light green"><i class="fas fa-plus"></i></a>
</div>

{{#if weight}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>{{#each weight}}
        <tr>
            <td><a href="/weight/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td>

                <a href="/weight/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/weight/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
    {{else}}
    <p>You have not added any measurements.</p>
    {{/if}}